body{
	background-color: #009183;
}
.main{
	width: 1150px;
	height: 100%;
	margin: auto;
	margin-top: 5%;
	border: 2px solid black;
	border-radius: 50px;
	text-align: center;
	color: white;
	background-color: #005080;
	cursor: crosshair;
}

.title{
	padding: 10px;
	font-family: 'KoHo', sans-serif;
}
#menuButt{
	height: 720px;
}
#tu_jestes{
	color: #50C5CF;
	font-size: 17px;
	background-color: rgb(48.41% 0.82% 20.94%);
}
.button{
	width: 460px;
	height: 20px;
	margin: 30px 0 30px 48px;
	padding: 20px;
	display: inline-block;
	float: left;
	font-family: 'KoHo', 'Newsreader', serif;
	background-color: rgb(40.31% 0.52% 20.54%);
	border-radius: 40px;
	transition: 2s;
}
a{
	color: #37F0D7;
	text-decoration: none;
}
a :hover{
	background-color: #99284B;
	color: #50C5CF;
	font-size: 17px;
	cursor: pointer;
}
.kopytko{
	width: 100%;
	margin-top: 10px;
	text-align: center;
	color: pink;
}
/*podstrony*/
.menu{
	width: 460px;
	margin: auto;
	height: 80px;
}
.button2{
	width: 100px;
	height: 20px;
	padding: 10px;
	display: inline-block;
	float: left;
	font-family: 'KoHo', 'Newsreader', serif;
	background-color: rgb(40.31% 0.52% 20.54%);
	border-radius: 50%;
	transition: 1.2s;
}
#main_b{
	height: 40px;
	margin: 0 50px;
}
#pusty{
	width: 100px;
	padding: 10px;
	float: left;
}
ul{
	list-style-type: none;
	font-size: 17px;
	font-family: 'Newsreader';
	line-height: 1.2;
}
p{
	font-size: 18px;
	font-family: 'Newsreader';
	line-height: 1.4;
}

/*wymiary obrazów na stronach*/
.w1{
	width: 1000px;
}
.w2{
	width: 400px;
}
.w3{
	width: 70px;
}
.w4{
	width: 800px;
}
.w5{
	width: 250px;
}
.w6{
	width: 600px;
}
#rick :hover{
	background-color: transparent;
	cursor: wait;
}
/*dodatkowa zawartość*/
#gry{
	margin: 60px 0;
	height: 350;
}
.og{
	width: 300px;
}
#snejk{
	background-color: lightgray;
	color: blue;
	width: 350px;
	padding: 20px;
	border-radius: 20px;
	font-family: 'KoHo';
	display: inline-block;
	margin: auto;
	font-size: 20px;
	transition: 2s;
}
a:hover #snejk{
	color: #37F0D7;
	background-color: darkgray;
	font-size: 23px;
}